// You can add CSS rules here that will be inlucded in Hydejack's CSS file

// Note: Not automatically used by hydejack; $grey is used in _config.yml as theme_color and accent_color
$white: rgba(239, 239, 239, 1);
$light-blue: rgba(191, 206, 239, 1);
$blue: rgba(64, 83, 109, 1);
$grey: rgba(68, 68, 68, 1);
$deep-blue: rgba(18, 32, 61, 1);
$black: rgba(20, 20, 20, 1);

// Hydejack overrides
.sidebar {
  a {
    color: $white;
  }
}

.font-active {
  background-color: $white;
}

.image {
  &.inline-text-wrap {
    width: 14rem;
    margin: 0rem 1rem 1rem 1rem;
    &.right {
      float: right;
    }
    &.left {
      float: left;
    }
  }
}

.long-code {
    .highlight {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 30rem;
    }
}
